.container {
  margin: 45px auto;
  width: 45vw;
}
.container h2 {
  display: flex;
  justify-content: center;
  margin: 75px 0px;
}
.container ol {
  list-style-type: lower-alpha;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 92vw;
  }
}
